* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #000;
  line-height: 1.5;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  display: block;
}

/* sidebar */

.dashboard {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 250px;
  background-color: #6941C6;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.sidebar .logo {
  margin-bottom: 50px;
}

.menu {
  display: flex;
  flex-direction: column;
}

.menu-item-active {
  background: green;
  color: white;
}

.submenu-parent-active {
  background-color: green;
}

.submenu-item-active {
  background: green;
  color: white;
}

.submenu {
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  background: #f9f9f9;
  padding: 20px;
}

.sidebar .menu-item, .sidebar a {
  padding: 10px;
  cursor: pointer;

}

.sidebar .submenu {
  margin-left: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.data-table th,
.data-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}